%tr{class: "#{trade_order.trade_type}"}
  %td= trade_order.trade_id
  %td= trade_order.trade_type
  %td= trade_order.quantity
  %td= trade_order.price
  %td= trade_order.amount
  %td= trade_order.time
